<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0tORmzgrZkYNcsC6gGTRwqhu0AujysiU</string>
	<key>GCM_SENDER_ID</key>
	<string>409662566479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenvinci.eatRight.kitchen.staging</string>
	<key>PROJECT_ID</key>
	<string>eatrightpos-1f7e7</string>
	<key>STORAGE_BUCKET</key>
	<string>eatrightpos-1f7e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409662566479:ios:2207ce51f69d4b71eb7a3a</string>
</dict>
</plist>